
/* GENERAL */ 

/* EXERCICE : Arrondissez les images seulement sur 2 côtés  */

img{  /* Style de toutes les images */
    width: 450px; /* forcé la largeur à la taille souhaitée */
    margin-top: 5px; /* décaler la photo par rapport au dessus */
    margin-left: 5px; /* décaler la photo par rapport à la gauche */
    border-radius: 20px 20px 20px 20px; /* Arrondir les angles de l'image */
}

body{ /* Le corps de la page */
    background-color: whitesmoke; /* Couleur de fond */
}

a{ /* liens hypertextes */
    text-decoration: none; /* Aucune décoration (suppression du souligné en dessous de l'écriture etc ...)*/
}


/* Menu => Barre en haut avec les liens mur, actus, profils */

/* EXERCICE : Modifiez  la couleur de la balise a du menu */

.menu{
    position: fixed; /* permet de laisser la barre de menu figée */
    top: 0; /* en haut de l'écran */
    left: 0; /* en commençant tout à gauche de l'écran */
    width: 100%; /* prend toute la largeur de l'écran */
    border-bottom: 1px solid grey; /* crée une barre noire de 1 px sur le bas de la div */
    background-color: whitesmoke; /* Met une couleur d'arrère plan blanche */
}

.menu a{
    margin-top: 50%;
    margin-left: 20%; /* les balises a (lien hypertext) sont éloignés de 20% par rapport à l'objet à sa gauche */
    color: darkblue; /* le texte de la balise a sera écrit de cette couleur */    
}

.menu li{
    display: inline;
    list-style: none;
    padding-inline-start: 0px !important;
}

/* Main Page */

.container-main{
    margin-top: 80px;
    align-items: center;
}

.liste-profils-container{
    border: 1px solid violet;
    border-radius: 10px;
    width: 10%;    
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
    text-align: center;

    -webkit-box-shadow: 2px 3px 15px 5px rgba(0,0,0,0.31); 
    box-shadow: 2px 3px 15px 5px rgba(0,0,0,0.31);
}

.liste-profils-container ol{
    list-style: none;
    padding-inline-start: 0px !important;
}

.profil2{
    margin-top: 10px;
}

.profils-container{
    display: inline-block;
    vertical-align: top;
    padding-left: 15%;
}

.container{
    display: grid !important;
    grid-template-columns: 1fr 1fr;

    border: 2px solid turquoise;
    border-radius: 10px;
    margin-bottom: 50px;
    
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0,0,0,0.31); 
    box-shadow: 2px 3px 15px 5px rgba(0,0,0,0.31);
}

.text-container{
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 15px;
}