:root {
    --background-menu-grey: #f0f0f0;
    --background-menu-white: #fff;
    --background-menu-light: #34495e;
    --background-menu-dark: #49698a;
    --dimensionTriangle: 30px;
  }
  
  body, html {
    min-height: 100%;
    background-color: #fdf6f9; /*couleur de fond*/
    margin: 0;
    padding: 0;
  }
  
  * {
    font-family: 'Roboto', sans-serif; /* police*/
    color: #525252; /* couleur police*/
    box-sizing: border-box;
  }
  
  nav>a {
    display: block;
    padding: 20px 50px;
    color: grey;
    font-size: 18px;
    text-decoration: none;
  }
  
  nav>a:hover {
    background-color: var(--background-menu-grey);
  }
  
  .menu > .container-global > button {
    border: none;
    width: 100%;
    height: 50px;
    background-color: var(--background-menu-light);
  }
  
  .menu {
    position: fixed;
    width: 100%;
    z-index: 10000;
  }
  
  .menu > .container-global > .nav-mobile {
    width: 300px;
    height: 100vh;
    background-color: var(--background-menu-white);
  }
  
  .nav-mobile {
    position: absolute;
    width: 300px;
    left: -100%;
    transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu > .container-global > button:focus+.nav-mobile {
    left: 0px;
  }
  
  .container-global {
    width: 100%;
    margin: 0 auto;
    padding-top: 55px;
  }
  .menu > .container-global {
    padding-top: 0;
  }
  
  .container-1, .container-2, .container-3 {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .element-1, .element-2, .element-3 {
    margin: auto;
  }
  
  .element-1 {
    background-color: #f1f1f1;
    height: 250px;
  }
  
  .element-2 {
    background-color: #ececec;
    height: 500px;
  }
  
  .element-3 {
    background-color: #f1f1f1;
    height: 250px;
  }
  
  .medium-pic {
    width: 80px;
    height: 80px;
    margin: 5px;
  }
  
  .padding {
    padding: 20px 20px;
  }
  button > svg {
    fill: #fff;
  }
  @media screen and (min-width: 576px) {
    .container-1, .container-2, .container-3 {
      width: 50%;
      padding: 7.5px;
    }
    .container-1, .container-3 {
      float: left;
    }
    .container-2 {
      float: right;
    }
  }
  
  @media (min-width: 1140px) {
    .container-global {
      padding-top: 55px;
      width: 1140px;
      display: flex;
    }
    .menu > .container-global {
      padding-top: 0px;
    }
    .container-1, .container-3 {
      flex: 1;
    }
    .container-2 {
      flex: 2;
    }
    .menu {
      width: 100%;
      height: inherit;
      background-color: var(--background-menu-light);
    }
    .menu > .container-global > button {
      display: none;
    }
    .menu > .container-global > .nav-mobile {
      position: static;
      width: 100%;
      margin: 0 auto;
      background-color: transparent;
      height: initial;
      transition: none;
    }
    nav>a {
      display: inline-block;
      color: grey; /* couleur des liens de la navigation*/
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out;
    }
    nav>a:hover {
      background-color: var(--background-menu-dark);
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
  
  }
  
  /*----------------Profil Component----------------*/
  
  .background-profil {
    width: 100%;
    height: 150px;
    background-image: url('../../assets/images/bg.jpg');
    background-position: center ;
  }
  
  .aside-element {
    min-width: 200px;
    overflow: hidden;
    border: 1px solid #c4c5c6;
    margin-bottom: 20px;
    background-color: var(--background-menu-white);
  }
  
  .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .infos {
    --dimImgProfil: 64px;
    position: relative;
    top: calc(-1 * var(--dimImgProfil) / 2);
    width: var(--dimImgProfil);
    height: var(--dimImgProfil);
    left: calc(50% - var(--dimImgProfil) / 2);
  }
  
  .round {
    border-radius: 100%;
    border: 3px solid #f1f1f1;
  }
  
  .body-profil {
    --heightBody: 120px;
    display: block;
    position: relative;
    background-color: var(--background-menu-white);
    height: var(--heightBody);
  }
  
  .center-all {
    top: calc(var(--heightBody) / 2 - 19px);
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  
  .center-all > b {
    display: block;
    margin-bottom: 10px;
  }
  /*--------------------Main Component--------------------*/
    /*------------Nombres-------------------*/
  .main-element:first-child {
    margin-bottom: 20px;
  }
  .main-element {
    position: relative;
    overflow: hidden; /* empeche le depassement de l'input avec la prop "float" */
    z-index: 1;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .bg-white {
    background-color: var(--background-menu-white);
  }
  .number-infos {
    display: block;
    width: 120px;
    background-color: var(--background-menu-white);
    text-align: center;
  }
  .deco-line {
    position: absolute;
    left: 0;
    top: calc(50% - var(--heightLine)/2);
    content: '';
    width: 100%;
    --heightLine: 8px;
    height: var(--heightLine);
    background-color: var(--background-menu-white);
    z-index: -1;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }
  .number-infos:nth-child(2):hover > .deco-line {
    background-color: var(--background-menu-dark);
    /* -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; */
  }
  .number-infos > strong + span {
    display: block;
  }
  .number-infos > strong {
    font-size: 32px;
  }
  
    /*------------Message-------------------*/
  .message > fieldset {
    border: none;
    border-top: 1px solid #bdbebe;
    border-bottom: 1px solid #bdbebe;
    padding: 15px;
    margin-bottom: 10px;
  }
  .message textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    resize: vertical;
  }
  .control-group {
    margin-bottom: 20px;
      float: right;
  }
  .submit {
    padding: 10px;
    background-color: #590031; /*couleur du bouton de publication*/ 
    color: white;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }
  .submit:hover {
    background-color: #810047; /*couleur du bouton de publication survolé*/ 
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  .bg-green {
    background-color: #ff4b75; /*couleur du bouton like*/
  }
  .bg-green:hover {
    background-color: #e1214e; /*couleur du bouton like survolé*/
  }
  .bg-blue {
    background-color: #590031; /*couleur du bouton répondre*/
  }
  .bg-blue:hover {
    background-color: #810047; /*couleur du bouton répondre survolé*/
  }
    /*------------hr-------------------*/
  .container-1 hr {
    margin-top: 9px;
    border: none;
    border-top: 2px solid #9e54bd; /*couleur du bouton répondre survolé*/
    margin-bottom: 9px;
  }
  .container-2 hr {
    border-color: #bdbebe; /*couleur du bouton répondre survolé*/
  }
  
    /*------------Post-------------------*/
  .post-header {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  .post-header b {
    display: block;
    margin-bottom: 10px;
  }
  
  .text-light, i {
    color: #a1a1a1;
  }
  .feedback-element {
    padding-right: 20px;
  }
  .commentaire {
    display: flex;
    padding-bottom: 40px;
    margin-bottom: 20px;
    clear: both;
    position: relative;
    background-color: var(--background-menu-grey);
  }
  .triangle {
    width: 0;
    height: 0;
    left: 35px;
    border-left: var(--dimensionTriangle) solid transparent;
    border-right: var(--dimensionTriangle) solid transparent;
  
    position: absolute;
  }
  .triangle-top {
    border-bottom: var(--dimensionTriangle) solid var(--background-menu-grey);
    top: calc(-1*var(--dimensionTriangle));
  }
  .triangle-bottom {
    border-bottom: var(--dimensionTriangle) solid var(--background-menu-white);
    bottom: 0;
  }
  